
/*
img {
  vertical-align: middle;
  background-color: rgba(0,0,255,1);
}

h1 {
    vertical-align: middle;
    font-size: 72px;
    font-weight: bold;
}*/

p {
    color: red;
    text-align: center;
}
/* Header */
